html {
    background-color: blueviolet;
}

section {
    border-style: solid;
    border-radius: 24px;
    border-color: white;
    background-color: rgb(44, 44, 44);
}

body {
    background-color: blueviolet;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
}
h1,h2,h3,h4,h5,h6,p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    margin-top: 24px; 
}

a {
    margin-left: 24px; 
    margin-right: 24px;
    margin-bottom: 24px;
    margin-top: 24px;   
}

li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-left: 24px; 
    margin-right: 24px;
    margin-bottom: 24px;
    margin-top: 24px; 
}

button {
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    margin-left: 24px;
}
a {
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    margin-left: 24px;
    text-decoration: none;
    margin-right: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
